spring:
  jpa:
    show-sql: true  #전송 쿼리 확인
    properties:
      hibernate:
        format_sql: true

    defer-datasource-initialization: true

  datasource:
    url: jdbc:h2:mem:testdb
    username: sa

  h2:
    console:
      enabled: true

  profiles:
    include:
      - oauth

jwt:
  issuer: ajufresh@gmail.com
  secret_key: study-springboot